.shows{
  width: 100%;
  height: 100vh;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}
.show_list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
