<div class="container">
  <div class="header">
    <div class="header__banner"
         [ngStyle]="{
      'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('+headerBGUrl+')'
      }">
      <div class='banner__title'>
      <h1>{{trending&& trending.results[1].title}}</h1>
      <div class="header__button">
        <button class="banner_btn_play">Play</button>
        <button class="banner_btn_info">More Info</button>
      </div>
      </div>
    </div>
  </div>
</div>
