/* You can add global styles to this file, and also import other style files */
*{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 30px;
  background:#e41a1a ;
  color: #fffffe;
  border: none;
  border-radius: 3px;
}
.btn:hover{
  background: #dc3545;
}
.banner_btn_play, .banner_btn_info {
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

.banner_btn_play {
  width: 80px;
  background: #fffffe;
}

.banner_btn_info {
  margin-left: 30px;
  width: 100px;
  background: rgba(255, 255, 255, 0.69);
}
